<template name="pollNew">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" name="title" value="" id="title" placeholder="Poll Title" class="form-control">
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
        <a href="{{pathFor 'pollsList'}}" class="btn btn-secondary">Cancel</a>
    </form>
</template>