<template name='pollSummary'>
    <div class="poll">
        <div class="row">
            <div class="col-xs-8 poll-content">
                <h3>{{title}}</h3>
                <p>Created by {{author}}</p>
            </div>
            {{#if ownPoll}}
                <div class="col-xs-4">
                    <div class="pull-right">
                        <button type="button" class="btn btn-info btn-sm btn-edit">
                            edit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm btn-delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            {{/if}}
        </div>
        <br><br><br>
        <div class="poll-content">
            <ul class="options">
                {{#each options}}
                    <div class="row option">
                        <li>
                            <div class="col-xs-8">
                                <span id='option{{@index}}'>{{name}}</span> : <span id="votes">{{votes}}</span>
                            </div>
                            <div class="col-xs-4">
                                <button id='btn{{@index}}' type="button" class="btn btn-primary btn-vote">
                                    Vote
                                </button>
                            </div>
                        </li>
                    </div>
                {{/each}}
            </ul>
        </div>
    </div>
</template>