<template name="header">
    <header class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-th"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'pollsList'}}">
                <div class="title">Vote to Vote</div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}}
                    <li><a href="{{pathFor 'pollNew'}}">Create Poll</a></li>
                {{/if}}
                {{> loginButtons}}
            </ul>
        </div>
    </header>
</template>